<div class="toolbar">
    <div class="windowButtons">
        <span class="first"></span>
        <span class="second"></span>
        <span class="third"></span>
    </div>

    <div class="hud">
        ModDroid
    </div>
</div>
